<header class="fixed inset-0 bg-white h-[60px]">
    <img src="/instagram.png" alt="" class="w-[105px] mb-[10px] mt-[18px] ml-[208px] cursor-pointer">
    <div class="w-full h-[1px] bg-gray-300"></div>
</header>